.navbar{
    width: 100%;
    position: sticky;
    display: flex;
    justify-content: space-around;
    bottom: 0;
    background: rgba(8, 6, 6);
    padding: 6px 0px;
}
.nav_item img{
    height: 60px;
    width: 60px;
}